<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th>Section</th>
      <th>Location</th>
    </tr>
    <tr>
      <td>Karle's Online Section (KF)<br>Last Names: A-Kh</td>
      <td>114 David Kinley Hall</td>
    </tr>
    <tr>
      <td>Karle's Online Section (KF)<br>Last Names: Ki-R<br></td>
      <td>1404 Siebel Center</td>
    </tr>
    <tr>
      <td>Karle's Online Section (KF)<br>Last Names: S-Z<br><br>Karle's In Person Section (L2)<br>Last Names: A-B</td>
      <td>150 Animal Science Lab</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: C-L</td>
      <td>66 Main Library</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: M-Sc</td>
      <td>1024 Chemistry Annex</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: Se - Z</td>
      <td>1302 Everitt Laboratory</td>
    </tr>
    <tr>
      <td>Kelly's In Person Section (L1)<br>Last Names: A-Z</td>
      <td>141 Wohlers Hall</td>
    </tr>
  </table>
</div>
