
 
<div class="table-responsive"> 
  <table class="table table-bordered">
    <tr>
      <th>Section</th>
      <th>Location</th> 
     
    </tr>
    <tr>
      <td>Karle's Online Section (KF)<br>Last Names: A-L</td>
      <td>141 Wohlers</td>
    </tr>
    <tr>
      <td>Karle's Online Section (KF)<br>Last Names: M-V</td>
      <td>149 National Soybean Research Center</td>
    </tr>
    <tr>
      <td>Karle's Online Section (KF)<br>Last Names: W-Z</td>
      <td>180 Bevier</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: A-F</td>
      <td>180 Bevier</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: G-O</td>
      <td>66 Library</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: P-Z</td>
      <td>150 Animal Sciences</td>
    </tr>
    <tr>
      <td>Kelly's In Person Section (L1)<br>Last Names: A-Z</td>
      <td>1404 Siebel Center</td>
    </tr>
  </table>

</div>
-->