<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <th>Section</th>
    <th>Date & Time</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>L1 Kelly Findley's MWF In-Person Class</td>
    <td>Friday May 8th at 12:00am to Wednesday May 13th at 9pm</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>L2 Karle Flanagan's Tuesday/Thursday In-Person Class</td>
    <td>Friday May 8th at 12:00am to Wednesday May 13th at 9pm</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>KF Karle Flanagan's Online class</td>
    <td>Friday May 8th at 12:00am to Wednesday May 13th at 9pm</td>
    <td>N/A</td>
  </tr>
  </table>
</div>
