<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <th>Section</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>L1 Kelly Findley's MWF In-Person Class</td>
    <td>Tuesday May 12th, 2020</td>
    <td>12:00am-9:00pm</td>
    <td>101 Armory</td>
  </tr>
  <tr>
    <td>L2 Karle Flanagan's Tuesday/Thursday In-Person Class</td>
    <td>Friday May 8th, 2020</td>
    <td>12:00am-9:00pm</td>
    <td>Foellinger Auditorium</td>
  </tr>
  <tr>
    <td>KF Karle Flanagan's Online class</td>
    <td>Monday May 11th, 2020</td>
    <td>12:00am-9:00pm</td>
    <td>Foellinger Auditorium</td>
  </tr>
  </table>
</div>
